*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  
  --p-color:#d62828;
  --s-color:#f77f00;
  --text-color:#ffffff;
  --textR-color:#1e1e1e;
  --textS-color:#ffffff;
  --bgm-color: #1e1e1e;
  --main-color:#272727;
  --sec-color:#181818;
  --mainR-color:#ede6d9;
  --sub-color:#747474;
  --cl1-color:#444444;
  --cl2-color:#313131;
  --cl3-color:#959595;
  --mode-color:#ffa600;
  --glow:rgb(255, 115, 0);
  --text-shadow: 0 0 10px #ffc400;
  --t-color:#fcbf49;
  --gradient-bg:
  linear-gradient(127deg, var(--main-color), rgba(0, 0, 0, 0) 95.71%),
  linear-gradient(217deg, var(--main-color), rgba(0, 0, 0, 0) 95.71%);
  --transition: 0.30s ease-in-out;
  
}

#_body{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif;  
  background-color: var(--sec-color);
  overflow-x: hidden !important;
}

.transitionFx{
  transition: 1.8s ease-in-out;
}

.form-range{
  width: 100% !important;
}

a{color: #fff; text-decoration: none !important}
li{list-style: none;}

#blank-page{min-height:50vh;max-width: 100vmax;}

.c-pointer{
  cursor: pointer;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

.imgthumbnail{
  max-height: 8rem !important;
  max-width: 10rem !important;
  border-radius: 10%;
  border: var(--mode-color) 3px solid;
}

.imgthumbnail-md{
  min-height: 5vw !important;
  min-width: 5vw!important;
  max-height: 18rem !important;
  max-width: 28rem !important;
  border-radius: 10%;
  border: var(--mode-color) 3px solid;
}

.swal2-success-fix, .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-info-fix, .swal2-info-circular-line-left, .swal2-info-circular-line-right, .swal2-error-fix, .swal2-error-circular-line-left, .swal2-error-circular-line-right, .swal2-warning-fix, .swal2-warning-circular-line-left, .swal2-warning-circular-line-right, .swal2-question-fix, .swal2-question-circular-line-left, .swal2-question-circular-line-right{
  background-color:  var(--bgm-color) !important;
  
}
.swal2-popup{
  color: var(--text-color);
  background-color:  var(--bgm-color) !important;
  border-radius: 10%;
  opacity: 0.97; 
  border: #ffffff 3px solid;
}

.imgthumbnail-lg{
  min-height: 10vw !important;
  min-width: 15vw!important;
  opacity: 0.75; 
  border-radius: 30%;
  transition: 1s ease-in-out;
}

.imgthumbnail-lg:hover{
  min-height: 10vw !important;
  min-width: 15vw!important;
  border-radius: 10%;
  opacity: 1; 
  transition: 0.5s ease-in-out;
}

.imgthumbnail-sm{
  min-height: 80px !important;
  min-width: 80px !important;
  max-height: 80px !important;
  max-width: 80px !important;
  border-radius: 10%;
  border: var(--cl2-color) 1px solid;
}


#movingButtonUp{
  display:inline-block;
  position: fixed;
  bottom: 65px;
  right: 25px;
  font-size: 4vh;
  opacity: 0.4; 
}
#movingButtonUp:hover,#movingButtonDown:hover{opacity: 0.9; }

#movingButtonDown{
  display:inline-block;
  position: fixed;
  bottom: 65px;
  right: 25px;
  font-size: 4vh;
  opacity: 0.4; 
}

.movingButtonUp, .movingButtonDown{
  width: 65px;
  height: 65px;
  padding: 0px;
  background-color:var(--s-color);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 20%;
}

.movingButtonUp:hover, .movingButtonDown:hover{
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color:var(--p-color);
}

#profile-theme{
  position: absolute;
  right: 10px !important;
  top: 100px !important;
}

#profile{
  display: flex;
  margin: auto !important;
  align-items: center;
  align-content: center;

}

.full-td-width{
   width: 50%;
}

.fa-square-minus{
  font-size: xx-large;
  font-weight: 300;
  color: var(--p-color);
}

.fa-square-plus{
  font-size: xx-large;
  font-weight: 300;
  color: var(--mode-color);
}

.fa-circle-xmark{
  color: var(--p-color);
  font-weight: bold;
  font-size:  30px;
  background-color:var(--mainR-color);
  border-radius:50px;
}

.fa-basket-shopping{
  color: var(--mode-color);
  font-weight: bold;
  font-size:  30px;
  background-color:var(--bgm-color);
  border-radius:50px;
}

.text-success {
  color: green; /* or whichever color you want for "completed" */
}

.hidden {
  display: none;
}

.text-red {
  color: red;
}

.order-card{
  border: #313131 3px solid;
}

.profile{
  border: #313131 3px solid;
}

#profile_img{
  width: 25vh;
  height: 30vh;
  padding: 20px 0px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  align-content: center;
}

#profile_thumbnail{
  width: 40vh;
  height: 45vh;
  padding: 20px 0px;
  border-radius: 20%;
  margin: auto;
  align-items: center;
  align-content: center;
}

.popup {
  position: fixed !important;
  top: 120px;
  right: 20px;
  /* background-color: #ffffff00;
  border: 1px solid #ccc; */
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.popup.visible {
  opacity: 1;
}

.popup.hidden {
  opacity: 0;
}

#admin-dashboard, #userview, #profile, #add-product, .product-view{
  min-height:100vh; max-width: 100vmax;
  padding-top: 20px;
  align-items: center;
  align-content: center;
}
#product-card{
  align-items: center;
  align-content: center;
}

#products, #orders {
  min-height:100vh; max-width: 100vmax;
  align-items: center;
}

#cart {
  min-height:100vh; max-width: 100vmax;
  align-items: center;
}

.notif {
  z-index: 2 !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selected-status {
  color: var(--mode-color); 
  background-color: #343842;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}
.other-status {
  color: var(--cl3-color); 
  background-color: #232323;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

#display{
  min-height:50vh; max-width: 100vmax;
  align-items: center;
}

.appbar{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
}

footer {
  overflow-x: hidden;
  text-align: center;
  background-color: #333;
  color: #fff;
 
  padding-bottom: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: scroll;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
}

.textuppercase{ text-transform: uppercase;}

/**
* !STRONG TEXT FX
**/

.textfxa{
  color: var(--mainR-color);
  text-shadow: 0 0 20px var(--s-color);
}

.textfxb{
  color: var(--mode-color);
  text-shadow: 0 0 20px var(--mainR-color);
}

.textfx{
  text-transform: uppercase;
  font-size: 3.2vh;
  color: var(--mainR-color);
  text-shadow: 0 0 20px var(--s-color);
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.preview-transition {
  transition: 1.8s ease-in-out;
  opacity: 0.7; 
  background: var(--gradient-bg);
}

.banner{
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 900;
  font-size:  8.1vw;
  font-family: 'Roboto', sans-serif;
  padding-top: 3.5rem;
  margin: auto;
}

.bg-custom{
  background: var(--gradient-bg), url('https://m-dorio.github.io/foodstore/images/landing-ramen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 25vh;
  min-width: 100%;
}

.logo, .logo .bowl-rice{
  color: var(--mode-color);
  text-shadow: 0 0 10px var(--glow);
  font-weight: 600;
  cursor: pointer;
  font-size:  3.2vh;
  text-transform: uppercase;
}

.productHighlight {
  min-height: 100% !important;
}

.productHighlight .desc{
  height: 20px;
}



.blur-content-half-bg-dark {
  background: var(--cp-darker);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.blur-content-no-border{
  background: rgba(149, 149, 149, 0.2);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  border: 0px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.blur-content-dark {
  background: var(--cp-darker);
  background-image: url(https://m-dorio.github.io/webportfolio//images/about-image3.png);
    background-size: contain;
  background-repeat: repeat;
  background-position: bottom center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(100, 100, 100, 0.4);
  color:var(--text-custom-light);
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.removeItemButton{
  cursor: pointer;
}


.comment-section .comment-inner-section{
  border-radius: 16px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  box-shadow: 0 4px 30px rgba(174, 174, 174, 0.1);
}

.cart-item{
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--mainR-color);
}

.cart-product-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tabs .nav-link.active {
  color: rgb(48, 48, 48) !important;
  background-color: var(--mode-color) !important;
  font-weight: 600;
  transition: 0.6s ease-in-out;
  text-shadow: 0 0 10px #6b6b6b;
}

#tabs .nav-link {
  color: rgb(255, 201, 101) !important;
  background-color: #282828 !important;
  font-weight: 600;
  transition: 0.6s ease-in-out;
  text-shadow: 0 0 10px #bfbfbf;
}


.nav-link {
  color: white !important;
  background-color: none !important;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 10px #d9d9d9;
}
.nav-link.active{
  color: var(--mode-color) !important;
  background-color: none !important;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 10px #bfbfbf;
}

.ellipsis {
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

.page-header{
  color: var(--mode-color) !important;
  background-color: none !important;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 10px #bfbfbf;
}

#landing{
  color: #fff;
  min-height: 100vh;
  max-width: 100vmax;
  background-color: var(--bgm-color);
}

#banner{
  background: var(--gradient-bg), url('https://m-dorio.github.io/foodstore/images/landing-ramen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 25vh;
  min-width: 100;
}

.inventory-item {
  border: 1px solid #4f4f4f;
  margin-bottom: 10px;
  padding: 10px;

}

.item-info, .item-details, .item-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item-image img {
  max-width: 100px;
}

.item-actions button {
  margin: 0 5px;
}

.availability {
  font-weight: bold;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

/* custom-modal.css */

/* Change the modal header background color */
.modal-header {
  background-color: var(--cl2-color);
  color: var(--mode-color);
}

/* Change the modal body background color */
.modal-body {
  background-color: #f2f2f2;
}

/* Change the modal footer background color */
.modal-footer {
  background-color: #3498db;
  color: #fff;
}

/* Change the color of the close button */
.close {
  color: #fff;
}

/* Add custom styles to other modal components as needed */
